#page_title{
	font-size: 35pt;
	color: #0099ff;
	width: 760px;
	margin: auto;
	text-align: center;
	margin-top: 40px;
}

#form{
	border: 10px solid #708090;
	position: relative;
	top: 100px;
	width: 600px;
	margin: auto;
	margin-bottom: 40px;
	padding: 70px;
}

#img_download{
	margin-left:40px;
}

#img_label{
	font-size: 13pt;
	font-weight: bold;
	margin: auto;
}

#head_form{
	width: 400px;
	margin: auto;
	margin-top: 20px;
}

#img_preview{
    height: 300px;
    width: 350px;
    margin: 20px 0 80px 20px;
}

.big_spans{
	font-size: 13pt;
	margin-bottom: 20px;
	font-weight: bold;
}

.small_spans{
	font-size: 11pt;
	margin-bottom: 20px;
}

.grey_spans{
	color: #708090;
	margin-bottom: 20px;
}

.input_act{
	margin-left: 20px;
	height: 30px;
	width: 400px;
}

.input_acts{
	margin-left: 20px;
	height: 30px;
	width: 400px;
}

.div_question{
	margin-bottom: 40px;
}

#signup_button{
	height: 40px;
	border: none;
	background-color: #33BC00;
	position: relative;
	color: white;
	width: 200px;
    left: 400px;
    top: 50px;
    font-size: 13pt;
}