#header{
	height: 70px;
	width: 100%;
	background-color: #708090;
	line-height: 80px;
	text-align:center;
	min-width: 800px;
	border-bottom: 2px solid #00C8FF;
}

#header_title{
	width: 100%;
	text-align: center;
	line-height: normal;
	display: inline-block;
	font-family: Chalkduster;
	font-size: 30pt;
	color: #66FF00;
}

.separateur{
	width: 800px;
	margin: auto;
	border: 1px solid #D0D0D0;
	position: relative;
}